@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

html {
		box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/gplaypattern.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
		flex-direction: column;
}

h1 {
	color: #1b1e47;
	font-size: 2.5em;
	text-shadow: 1px 1px 4px rgb(21, 157, 161)
}

h1, h2, h3 {
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
		background: linear-gradient(160deg, #02ccbb 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #1b1e47;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 20px;
}

.score-panel .stars {
		margin-bottom: 10px;
		margin-top: 0;
    padding: 0;
    display: inline-block;
}

.score-panel .stars li {
    list-style: none;
		display: inline-block;
}

.star-off {
	color: rgb(173, 173, 173);
}

.star-on {
	color :#aa7ecd;
}

.score-panel .restart {
  float: right;
	cursor: pointer;
	background-color: #aa7ecd96;
	padding: 10px;
	border-radius: 5px;
}

.card-image {
	max-width: 75px;
	visibility: hidden;
	opacity: 0;
}

.show{
	opacity: 1;
	visibility: visible;	
}

.card-show {
	animation: shake .4s cubic-bezier(.36,.07,.19,.97) both;
}

.hide{
	opacity: 0;
	visibility: hidden;
	transition: visibility 0.3s, opacity 0.3s;
}

.winner {
	background: linear-gradient(160deg, #ffee01 0%, #f19204 100%);
	float: left;
	width: 60%;
	max-width: 600px;;
	position: absolute;
	margin: 0 auto;
	padding: 10px 20px;
	top: 260px;
	z-index: 1;
	border-radius: 10px;
	text-align: center;
	visibility: hidden;
}

.winner.show-win{
	visibility: visible;
}

#play-again {
	background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
		font-size: 18px;
		border-radius: 5px;
		margin-bottom: 20px;
		cursor: pointer;
}

/* from https://css-tricks.com/snippets/css/shake-css-keyframe-animation/ */
@keyframes shake {
  10%, 90% {
		transform: rotate(1deg);
	}
	
  30%  {
		transform: rotate(2deg);
	}	

	50% {
		transform: rotate(0deg);
	}

  40%, 60% {
  }
}